@import "../../variables.module.scss";

.header {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 0.25rem 0.75rem 0 $light-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  .logo {
    width: 3.125rem;
  }
}
