.fallbackWrapper {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    .resultWrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
