.filterGroup {
  .filters {
    display: flex;
    flex-direction: column;
    & > label {
      margin-left: 0px;
    }
    .checboxValueWrapper {
      display: grid;
      grid-template-columns: 4fr 1fr;
      align-items: center;    
      .colorIcon {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
      }
    }
  }
}